*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    padding: 0 0.5rem;
}

.simpleDscr{
    height: 20vh;
    padding: 4rem 0;
    text-align: center;
    align-content: center;
}

.simpleDscr h1{
    font-size: 2.8rem;
    font-family: sans-serif;

}
.simpleDscr p{
    font-size: 1.3rem;
    font-family: "Roboto";
}   

.DescriptionPlace1{
    width: 100%;
    height: 55vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.DescriptionPlace2{
    width: 100%;
    height: 55vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}

.sec1{
    width: 40%;

}
.sec1 p{
    font-family: "Roboto";
    margin-top: 1rem;
    font-size: 1.1rem;
}

.sec1 h2{
    font-family: "Roboto";
    font-size:2rem;
}
.sec2{
    width: 35%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.sec2 img{
    height: 100%;
    width: 45%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.864);
}
.sec2 img:hover{
    box-shadow: 0px 0px 25px rgba(51, 50, 50, 0.829);
    transition: all ease-in-out 0.1s;
}
.sec2 img:nth-child(2){
    position: absolute;
    top: -2.5rem;
    right: 0;
}


@media(max-width:1030px){
    .DescriptionPlace1{
        flex-direction: column-reverse;
        margin-top: 30%;
    }
    .sec1{
        width: 90%;
        margin-top: 3rem;
    }
    .DescriptionPlace1 .sec2{
        width: 80%;
        height: 30vh;
    }
    .DescriptionPlace2{
        flex-direction: column-reverse;
        margin-top: 25%;
    }
    .DescriptionPlace2 .sec2{
        margin-top: 10%;
        width: 80%;
        height: 30vh;
    }
}

@media(max-width:680px){
    .DescriptionPlace1{
        margin-top: 40%;
    }
    .DescriptionPlace2{
        margin-top:40%;
    }
}

@media(max-width:580px){
    .DescriptionPlace1{
        margin-top: 55%;
    }
    .sec2{
        width: 100%;
        height: 100vh;
    }
    .sec2 img{
        height: 40vh;
        width: 48%;
    }
    .sec1{
        margin-top: 6rem;
    }
    .DescriptionPlace2{
        margin-top: 55%;
    }
}
@media(max-width:540px){
    .sec2 img:nth-child(2){
        top: 0;
    }
    .DescriptionPlace1{
        margin-top: 70%;
    }
    .DescriptionPlace2{
        margin-top: 75%;
    }
}
@media(max-width:460px){
    .DescriptionPlace1{
        margin-top: 94%;
    }
    .DescriptionPlace2{
        margin-top: 100%;
    }
}
@media(max-width:405px){
    .DescriptionPlace1,.DescriptionPlace2{
        margin-top: 110%;
    }
}
@media(max-width:380px){
    .DescriptionPlace1,.DescriptionPlace2{
        margin-top: 130%;
    }
}