*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
body{
    padding: 0 0.5rem;
    min-height: 100vh;
}

.signInRoot{
    position: relative;
    top: 18vh;
    min-height: 82vh;
    width: 100%;
}

.boxDiv{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: 30%;
    border: 2px solid rgb(81, 232, 194);
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0.5px 0.5px 10px rgb(65, 63, 63);
}

.signUp{
    min-height: 100%;
    width: 100%;
    background-color: azure;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.signUp form{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* height: 190%; */
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.signUp form input{
    height: 2.5rem;
    width: 90%;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: rgb(102, 91, 91);
    color: azure;
    padding: 0.2rem 0.8rem;
    box-shadow: 1px 1px 4px rgb(88, 75, 75);
}
.signUp form input::placeholder{
    color: azure;
    font-size: 0.8rem;
}

.signUp form button{
    height: 2rem;
    width: 50%;
    border: none;
    background-color: rgb(35, 237, 20);
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
}
.signUp form button:active{
    transform: scale(0.95);
    transition: 0.1s;
}

.signUp p{
    /* margin-top: -0.5rem; */
    font-weight: bold;
}

.ConnectGGL{
    width: 100%;
    /* border: 2px solid red; */
    height:auto;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ConnectGGL h3{
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-top: -0.5rem;
}
.optionGGL{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.FB img{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}
.GGL img{
    height: 2rem;
    width: 2rem;
    object-fit: cover;
}

.GGL,.FB{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border: 1.7px solid orange;
    border-radius: 30px;
    padding: 0.3rem 0.8rem;
    cursor: pointer;
    background-color: rgb(212, 238, 229);
    width: 47%;
    height: 2.7rem;
}

.signInFooter{
    position: absolute;
    top:100%;
    margin-top: 5vh;
    width: 100%;
    
}



@media(max-width:930px){
    .boxDiv{
        width: 50vh;
    }
}
@media(max-width:470px){
    .boxDiv{
        width: 38vh;
        
    }
}   