*{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


.boxDiv{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.signUp{
    width: 450px;
    min-height: 550px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 0.9rem 1.5rem 0.9rem;
}

.signUp .h1_login{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 2.8rem;
    transition: all ease-in-out 0.3s;
}

.h1_login h1{
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(82, 158, 0);
}
.loginSide{
    width: 5rem;
    height: 2rem;
    font-family: monospace;
    font-weight: 700;
    background:linear-gradient( rgb(94, 239, 255)0%, rgb(136, 191, 193) 100%);
    cursor: pointer;
}
.loginSide:active{
    transform: scale(0.95);
    transition: 0.1s;
}


.signUp form{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.signUp form input{
    height: 2.4rem;
    border: 1.7px solid rgb(96, 240, 96);
    padding-left: 7px;
    box-shadow: 1px 1px 3px rgba(122, 119, 119, 0.751);
    width: 100%;
    outline: none;
}

.signUp form button{
    width: 150px;
    height: 2rem;
    border: none;
    background-color: rgb(122, 176, 14);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 7px;
}
.signUp form button:active{
    transform: scale(0.95);
}




.ConnectGGL{
    min-height: auto;
    /* border: 1px solid black; */
    width: 80%;
}

.ConnectGGL h3{
    font-weight: bold;
    text-align: center;
    margin-top: -8px;
}
.optionGGL{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}
.FB,.GGL{
    width: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1.7px solid rgb(17, 246, 13);
    border-radius: 50px;
    font-weight: bold;
    font-size: 18px;
    overflow: hidden;
    cursor: pointer;
}
.FB img{
    width: 40px;
    height: 40px;
}
.GGL img{
    width: 40px;
    height: 40px;
}